
.reca1{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.reca {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("pictures/v1.webp"); 
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* שקיפות רק לרקע */
    z-index: 0;
}

.first {
width: 480px;
height: 400px;
border-radius: 30px;
overflow: hidden;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-size: cover;
border: 4px solid #ffffff;
z-index: 102;
position: fixed;
bottom: 20px;
left: 45px;
text-decoration: none;
}
.second {
width: 600px;
height: 180px;
border-radius: 30px;
background-image: url("pictures/1Y8l.gif" );
overflow: hidden;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-size: cover;
border: 4px solid #ffffff;
z-index: 102;
position: fixed;
bottom: 20px;
left: 570px;
text-decoration: none;
}
.twree {
width: 260px;
height: 190px;
border-radius: 30px;
background-image: url("pictures/17fd.gif" );
overflow: hidden;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-size: cover;
border: 4px solid #ffffff;
z-index: 102;
position: fixed;
bottom: 225px;
left: 570px;
text-decoration: none;
}
.four {
width: 250px;
height: 400px;
border-radius: 30px;
background-image: url("pictures/1Ndd.gif" );
overflow: hidden;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-size: cover;
border: 4px solid #ffffff;
z-index: 102;
position: fixed;
bottom: 20px;
left: 1220px;
text-decoration: none;
}
.five {
width: 260px;
height: 190px;
border-radius: 30px;
background-image: url("pictures/qoR.gif" );
overflow: hidden;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-size: cover;
border: 4px solid #ffffff;
z-index: 102;
position: fixed;
bottom: 225px;
left: 900px;
text-decoration: none;
}
.WORKING{
    margin-top: 15vh;
    width: 100%;
    background-color: white;
    /* background-color: rgba(137, 43, 226, 0.689); */
    height: 5vh;
}
.new{
    margin-top: 15vh;
    background-color: rgba(137, 43, 226, 0.644);
    width: 100%;
    height: 10vh;
    color: white;
    position: absolute;
}
h4{
    position: absolute;
    left: 15vw;
    bottom: -11vh;
    color:rgb(255, 255, 255);
    font-size: 5em;
}
h5{
    text-align: center;
    color:blueviolet;
    font-size: 2em;
}
img{
width: 900px;
text-decoration: none;
height: 300px;
z-index: 102;
position: fixed;
top:-20;

}
.favorit{
background-color: rgba(240, 248, 255, 0.318);
color: blueviolet;
text-align: center;
justify-content: center;
border-radius: 50px;
height: 150px;
width: 160px;
font-size: 100px;
z-index: 100;
position: absolute;
top: 80px;
text-decoration: none;
right: 310px;
}
.logout{
background-color: rgba(240, 248, 255, 0.318);
color: blueviolet;
text-align: center;
justify-content: center;
border-radius: 50px;
height: 150px;
width: 160px;
font-size: 100px;
z-index: 100;
position: absolute;
top: 80px;
text-decoration: none;
right: 100px;
}