*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url("pictures/v1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.shell{
    background-color: rgba(255, 255, 255, 0.74);
    position: absolute;
    width: 34vw;
    left: 35vw;
    height: 60vh;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0.5 4px 10px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh
}
input, button{
    border-radius: 8px;
    height: 5vh;
    width: 25vw;
}
.welText{
    margin-bottom: 7vh;
    font-size: 2.5em;
}
.welText, label{
    color: blueviolet;
}
label{
    font-size: 1.5em;
    text-align: start;
}
button{
    background-color: blueviolet;
    font-size: 1.5em;
    margin-top: 2vh;
}
a{
    margin-top: 2vh;
    font-size: 1.5em;
}
a:hover{
    color: rgb(0, 0, 0);
}



