*{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('pictures/reka.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.score, .most,.nameee{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.724);
    padding: 1.8%;
    height: 20vh;
    border-radius: 15px;
    row-gap: 8px;
}
.name2eeee{
    color: black;
}
.realmost,.realscore,.name2eeee{
    color: rgba(120, 245, 86, 0.678);
}
.kotarot{
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}
.kotarot{
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}

.clickstart{
    display: flex;
    align-items: center;
    /* margin-right: 30vw; */
    justify-content: center;
    width: 20vw;
    height: 20vh;
    margin-top: 0vh;
    color: white;
    font-weight: 600;
    font-size: 3vh;
    background-color:rgba(120, 245, 86, 0.678);
    border-radius: 15px;
}

.screen{
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.724);
    /* position: relative;  ??למה לא רלטיב אלא אבסולוט */
    position: relative;
}

.dino{
    width: 120px;
    height: 150px;
    /* border-radius: 50px; */
    position: absolute;
    left: 20px;
    bottom: 0px;
    background-image: url('pictures/dino.gif');
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: bottom;
}
#gameOverImage {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    animation: pulse 1s infinite;
    z-index: 999;
  }
  @keyframes pulse {
    0%   { transform: translate(-50%, -50%) scale(1); }
    50%  { transform: translate(-50%, -50%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
  }
.back{
    background-color:rgba(120, 245, 86, 0.678);
    border-radius: 20px;
    color: azure;
    height: 60px;
    width: 100px;
    font-size: 50px;
    z-index: 100;
    position: fixed;
    bottom:40px;
    left: 50px;
    text-decoration: none;
    text-align: center;
    z-index: 200;
}
.back1{
    background-color:rgba(120, 245, 86, 0.678);
    border-radius: 20px;
    color: azure;
    height: 60px;
    width: 60px;
    font-size: 40px;
    z-index: 100;
    position: fixed;
    bottom:40px;
    left: 170px;
    opacity: 0.7;
    text-decoration: none;
    text-align: center;
    z-index: 200;
}
.blockT{
    background-image: url("pictures/tree.png");
    background-Size: 120%;
    background-Position: center;
    right:0;
    position:absolute;
    bottom:0;
}

.blockB{
    height:100px;
    width:50px;   
    background-Image: url('pictures/bird.png');
    background-Size: 160%;
    background-Repeat: no-repeat;
    background-Position:center;
    right:0;
    position:absolute;
}
.SwitchUser{
    width: 15vw;
    height: 13vh;
    background-color:rgba(120, 245, 86, 0.678);
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 15px;
    right:5vw;
    bottom: 5vh;
    text-decoration: none;
}